@font-face {
  font-family: 'Barna Break Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Barna Break Regular'), url('Barna Break.woff') format('woff');
  }

.wrapper{
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-rows: 1fr 1fr 1fr;
}

h1 {
  font-family: 'Barna Break Regular';
  color: #FFD700;
}

h2 {
  font-family: 'Barna Break Regular';
  color: #FFD700;
  margin:0;
}

.win{
  font-family: 'Barna Break Regular';
  color: #FFD700;
  margin:0;
  font-size: 200px;
}

.title{
  grid-column: 1/9;
  grid-row:1/2;
  margin-bottom:0;

}


.particles{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.deck{
  grid-column: 1/2;
  grid-row: 2/4;
  width: 279px;
}

.dcenter{
  width: 200px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.deckgrow { transition: all .2s ease-in-out; }
.deckgrow:hover { transform: scale(1.1); }

.graveyard{
  grid-column: 8/9;
  grid-row: 2/4;
  width: 279px;

}
.gravepile{
  position:relative;
}
.grave{
  width: 200px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  z-index:-1;
  position: absolute;
  top: 0;
  left: 14%;
}

.gravecards{
  width: 284px;
  text-align: center;
  left: 2%;
  margin-top: 13%;
  position: absolute;
}


.hand{
  text-align:center;
  grid-column: 2/8;
  grid-row: 3/4;
  margin-left: auto;
  margin-right: auto;
  width:660px;
}

.card{
  position: relative;
  width: 114px;
  height: 166px;
  background-image: url("https://e1.pngegg.com/pngimages/558/734/png-clipart-jp-ygo-series-2-devamped-blanks-black-yu-gi-oh-dueling-card-thumbnail.png");
  background-size: 100%;
}

.scaled{
  position: relative;
  width: 114px;
  height: 166px;
  background-image: url("https://e1.pngegg.com/pngimages/558/734/png-clipart-jp-ygo-series-2-devamped-blanks-black-yu-gi-oh-dueling-card-thumbnail.png");
  background-size: 100%;
  transform: scale(1.5);
  margin-left: 40px;
  margin-right: 40px;

}

.cardname{
  position:absolute;
  top: 7%; 
  left: 10%; 
  width: 80%;
  font-size: 8px; 
  color: white
}

.cardtext{
  position: absolute;
  top: 82%; 
  left: 10%; 
  width: 60px;
  height: 23px;
  font-size: 1px; 
  color: white
}

.charphoto{
  position: absolute;
  top: 22%;
  left: 14%;
  width: 83px;
  height: 91px;
  background: gray;
}

.attack{
  position: absolute;
  top: 83%;
  left: 78%;
  width: 15px;
  height: 13px;
  font-size: 9px;
  color: white;
  text-align: center;
}

.defense{
  position: absolute;
  top: 89%;
  left: 78%;
  width: 15px;
  height: 13px;
  font-size: 9px;
  color: white;
  text-align: center;
}

.card{ transition: all .2s ease-in-out; z-index:0 }
.card:hover { transform: scale(2) translateY(-70px); z-index:1}

.encounter{
  text-align:center;
  grid-column: 2/8;
  grid-row: 2/3;
  margin-left: auto;
  margin-right: auto;
}




