@font-face {
  font-family: 'Barna Break Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Barna Break Regular'), url('Barna Break.woff') format('woff');
  grid-template-columns: 12px 12px 12px 12px;
  grid-template-rows: 12px 12px 12px 12px;
  }

h1 {
  font-family: 'Barna Break Regular';
  color: #FFD700;
}

input{
  position: absolute;
}
.graveyard{
  justify-content: end;
}


.deck{
  width:15rem
  
}

.deck { transition: all .2s ease-in-out; }
.deck:hover { transform: scale(1.1); }




.player_board{
  display: flex;
  align-items: flex-end;
  height: 500px;
  width: 100%;
}

button{
  background: url('../Components/Boton.png');
  color: whitesmoke;
  border-color: white;
  font-weight: 500;
  
}

.particles{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}


.hand{
  align-items: center;
  z-index: +10;
}


.cardname{
  position: absolute; 
  top: 10%; 
  left: 24%; 
  width: 80%;
  font-size: 9px; 
  color: white
}
.card{
  width: 9rem;
  position: relative;
  z-index: 3000;
}

.card{ transition: all .2s ease-in-out; }
.card:hover { transform: scale(2) translateY(-70px)}

.cardtext{
  position: absolute; 
  top: 76.5%; 
  left: 24%; 
  width: 80px;
  height: 100px;
  font-size: 1px; 
  color: white
}


.graveyard{
  
}